:root {
  --clr--dark: #020617;
  --clr-light: #f1f5f9;
  --clr--slate400: #94a3b8;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
  --clr-rose: #e11d48;
  --clr-indigo: #4f46e5;
}

/* Rose: rgb(225, 29, 72) */
/* Indigo: rgb(79, 70, 229) */

/* SIZES */

* {
  margin: 0;
  /* line-height: 1.5; */
  /* NOTE: calc(1em + 0.5rem) ==> 16px + 8px : means 1em takes font-size value of element and adds 0.5rem i.e 8px*/
  line-height: calc(1em + 0.5rem);
}

.html {
  /* makes smooth scroll */
  scroll-behavior: smooth;
  /* font-size: 62.5%; */
}

body {
  /* Font: Fontshare */
  font-family: "General Sans", sans-serif;
  /* colors */
  background-color: var(--clr--dark);
  color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  /* Inherit the color of parent ie BODY */
  color: inherit;
}

a {
  color: var(--clr-rose);
}

strong {
  color: var(--clr-indigo);
}

/* --------------------------------------------------------- */
/* ^^^^^^^^^^^^^   RESETS  ^^^^^^^^^^^^^*/
/* --------------------------------------------------------- */

h1 {
  font-size: 1.5rem;
}
